*{
    font-family: roboto;
}



.main1{
    background-image: url('../public/wall3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    background-position: center;
    
}
.nav-item .active{
    border: 3px solid darkgreen;
    border-radius: 5px;
    color: darkgreen !important;
    font-weight: bold;
  }
  .nav-item{
    font-weight: bold;
    color: black;
    font-size: 1.3rem;
  }
  .card-img-top{
    width: 60%;
   
    margin: 0 auto;
    padding: 2re;
  }
.picture{
  background-image: url('../public/img.jpg');
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 75vh;
  background-position: center;
}
 .card-img{
  height: 100px;
  object-fit: contain;
 }
 .para{
  line-height: 1rem;
 }
 .image{
  background-image: url('../public/signin2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 75vh;
  background-position: center;
  border-radius: 5px;
  /* width: 100%; */
 }
 .image2{
  background-image: url('../public/login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  background-position: center;
  border-radius: 5px;
  /* width: 100%; */
 }